<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app"><button onclick="vm.openForm()">Open Form</button>
    <h1>{{ "Nilai A : " + a}}</h1>
    <h1>{{ "Rata Rata : " + avg}}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0,
        avg : 0,
        tampung : 0
      },
      computed : {},
      methods : {
        openForm : function(){
          for(let i = 1; i <= 4; i++){
            this.tampung = prompt("Masukkan nilai A")
            this.a = this.a + parseInt(this.tampung)
          }
          this.avg = this.a/4
        }
      }
  })
  </script>
</body>
</html>