<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div id="app">
        <div class="search-wrapper">
          <input type="text" v-model="search" placeholder="Search data.."/>
        </div>
        <div class="wrapper">
          <div class="card" v-for="post in filteredList">
            <a v-bind:href="post.link" target="_blank">
              <li> {{ post.data }}</li>
            </a>
          </div>
        </div>
      </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
  class Post {
  constructor(data) {
    this.data = data;
  }
}

const app = new Vue ({
  el: '#app',
  data: {
    search: '',
    postList : [
      new Post(
        'Matematika Diskrit', 
      ),
      new Post(
        'Aljabar Linear', 
      ),
      new Post(
        'Algoritma Pemrograman', 
      ),
      new Post(
        'Fisika Kuantum', 
      ),
      new Post(
        'Bio Mekanika', 
      ),
      new Post(
        'Kimia terapan', 
      ),
      new Post(
        'Kalkulus', 
      ),
      new Post(
        'Statistika', 
      )
]
  },
  computed: {
    filteredList() {
      return this.postList.filter(post => {
        return post.data.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  }
})
  </script>
</body>
</html>