<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <input type="text" class="form-control" name="nama" id="nama" placeholder="tambah data..." v-model="nama" @keyup.enter="addNama"> <button @click="addNama()">Add</button>
      <h1>Daftar Nama : </h1>
      <table class = "table" v-if="namas.length > 0">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody v-for="(nama, index) in namas" :key="index">
            <td scope="row">{{ index }}</td>
            <td>{{ nama }}</td>
            <td>
                <button class="btn btn-danger" @click="deleteNama(index)"> Delete </button>
            </td>
        </tbody>
      </table>
      <h1 v-else> -- Data kosong --</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
            namas : [],
            nama : ''
      },
      created() {
                this.loadLocalStorage();
            },
      watch: {
                    nama() {
                    localStorage.setItem("namas", JSON.stringify(this.namas));
                }
            },
      methods : {
        loadLocalStorage() {
                    const ls = JSON.parse(localStorage.getItem("namas"))
                    console.log(ls)
                    if (ls == null) {
                        return;
                    }
                    this.namas = ls;
                    console.log(this.namas);
                },
          addNama(){
              this.namas.push(this.nama)
              this.nama = ""
          },
          deleteNama(index){
              this.namas.splice(index, 1)
          }
      }
  })
  </script>
</body>
</html>